/* Comment: Font - Link to Font */
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

/* Comment: CSS Files - Icon File */
@import url('./icon.css');

body {
    font-family: 'Architects Daughter', Helvetica, sans-serif;
    background-color: #FFFFFF;
    margin: 0 auto;
    color: #101A23;
    letter-spacing: 0.2em;
}

header {
    background-color: #8F72E0;
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: -webkit-inline-box;
}
header img {
    margin: 0.2em;
    margin-top: 0.4em;
    margin-left: 1em;
    width: 4em;
}
header h1 {
    margin-left: 0.4em;
    color: #72D6E0;
}

.help-card {
    text-align: center;
    margin: 8em 0;
}
.help-card h2, .clinic h2, .partnership h2 {
    font-size: 2em;
    text-transform: capitalize;
}
.help-card a, .clinic a {
    background-color: #72D6E0;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 0.2em;
    font-size: 2em;
    border: none;
    padding: 0.2em 0.4em;
    cursor: pointer;
    border: 0.1em solid #72D6E0;
}
.help-card a:hover {
    background-color: #FFFFFF;
    color: #72D6E0;
}

.clinic {
    text-align: center;
    padding: 4em;
    background-color: #AADF73;
    color: #FFFFFF;
}
.clinic h3 {
    font-size: 1.4em;
    font-weight: 600;
}
.clinic p {
    margin-top: -1em;
}
.clinic p:last-of-type {
    margin-bottom: 2em;
}
.clinic a {
    margin-top: 2em;
    background-color: #8F72E0;
    border: 0.1em solid #8F72E0;
}
.clinic a:hover {
    background-color: #FFFFFF;
    color: #8F72E0;
}

.partnership {
    text-align: center;
    padding: 4em;
    background-color: #FFFFFF;
}

footer {    
    text-align: center;
    padding: 0 1em;
    background-color: #8F72E0;
    color: #72D6E0;
}
footer div {
    display: -webkit-inline-box;
}
footer div:first-child {
    float: left;
}
footer div:nth-child(even) {
    margin-left: -8em;
}
footer div:last-child {
    float: right;
    margin-top: 1em;
}
footer .social-media a {
    text-decoration: none;
    color: #72D6E0;
}

@media (max-width: 649px) {
    .clinic a {
        font-size: 1.2em;
        padding: 0.6em 0.4em
    }

    footer div {
        display: block;
    }
    footer div:first-child {
        padding-top: 0.1em;
        float: none;
    }
    footer div:nth-child(even) {
        margin-left: 0;
    }
    footer div:last-child {
        padding-bottom: 0.5em;
        float: none;
    }
}
