/* Comment: Font - Link to Font */
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

/* Comment: CSS Files - Icon File */
@import url('http://www.thehelpcard.ca/css/icon.css');
@import url('http://www.thehelpcard.ca/css/accessibility.css');

/* Comment: Global Styles */
body {
    font-family: 'Architects Daughter', Helvetica, sans-serif;
    background-color: #FFFFFF;
    margin: 0 auto;
    color: #101A23;
    letter-spacing: 0.2em;
}

/* Comment: Text Styles */
.bold {
    font-weight: bold;
}

/* Comment: Header Styles */
header {
    background-color: #8980F5;
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: -webkit-inline-box;
}
header img {
    margin: 0.2em;
    margin-top: 0.4em;
    margin-left: 1em;
    width: 4em;
}
header h1 {
    margin-left: 0.4em;
    text-shadow: 0.03em 0.03em #101A23;
    color: #F0F0F0;
}

/* Comment: Help Card Section Styles */
.help-card {
    text-align: center;
    margin: 8em 0;
}
.help-card h2, .clinic h2, .partnership h2 {
    font-size: 2em;
    text-transform: capitalize;
    text-shadow: 0.03em 0.03em #F0F0F0;
}
.help-card a, .clinic a {
    background-color: #5DD8DF;
    text-shadow: 0.03em 0.03em #101A23;
    text-decoration: none;
    color:  #F0F0F0;
    border-radius: 0.2em;
    font-size: 2em;
    border: none;
    padding: 0.2em 0.4em;
    cursor: pointer;
    border: 0.1em solid #5DD8DF;
}
.help-card a:hover {
    background-color: #FFFFFF;
    color: #5DD8DF;
}

/* Comment: Clinic Styles */
.clinic {
    text-align: center;
    padding: 4em;
    background-color: #A5DF7A;
    color: #F0F0F0;
    text-shadow: 0.05em 0.05em #101A23;
}
.clinic h2 {
    text-shadow: 0.03em 0.03em #101A23;
}
.clinic h3 {
    font-size: 1.4em;
    font-weight: 600;
}
.clinic p {
    margin-top: -1em;
}
.clinic p:last-of-type {
    margin-bottom: 2em;
}
.clinic a {
    margin-top: 2em;
    background-color: #8980F5;
    border: 0.1em solid #8980F5;
}
.clinic a:hover {
    background-color: #FFFFFF;
    color: #8980F5;
}
.facebook-link {
    margin: 0!important;
    background-color: transparent!important;
    border: none!important;
    padding: 0!important;
    border-radius: 0!important;
    font-size: 1.1em!important;
}

/* Comment: Footer Styles */
footer {    
    text-align: center;
    padding: 0 1em;
    background-color: #8980F5;
    color: #F0F0F0;
    text-shadow: 0.03em 0.03em #101A23;
}
footer div {
    display: -webkit-inline-box;
}
footer div:first-child {
    float: left;
}
footer div:nth-child(even) {
    margin-left: -8em;
}
footer div:last-child {
    float: right;
    margin-top: 1em;
}
footer .social-media a {
    text-decoration: none;
    color: #F0F0F0;
}

/* Comment: Mobile Friendly Styles */
@media (max-width: 649px) {
    /* Comment: Clinic Styles */
    .clinic a {
        font-size: 1.2em;
        padding: 0.6em 0.4em
    }

    /* Comment: Footer Styles */
    footer div {
        display: block;
    }
    footer div:first-child {
        padding-top: 0.1em;
        float: none;
    }
    footer div:nth-child(even) {
        margin-left: 0;
    }
    footer div:last-child {
        padding-bottom: 0.5em;
        float: none;
    }
}
